@import url('http://fonts.googleapis.com/css?family=Oswald+Bold+700');

.navbar-color {
	background-color: #3E495E;
	border-color: #3E495E;
}

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.8em;
	color: #FFFEFA;
	letter-spacing: -1px;
	padding-top: 9px;
	font-family: "Oswald", sans-serif;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.logo {
	width: 50%;
}	

.logo-header {
	width: 35%;
	margin-left: -10px;
	margin-bottom: 10px;
}

.login-form {
	width: 500px;
	height: 40%;
	margin: 0px auto;
	padding-top: 250px;
}


.jumbotron {
	background: transparent;
}



#jumbotron-login {
	margin: auto;
	border-radius: 30px;
	color: #FFFEFA;
	background-color: #3E495E;
	padding: 10px 30px 60px 30px;
	
}

#jumbotron-login h2 {
	padding-top: 0px;
}

.login-background {
	background: url(images/login_background.jpg);
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
}


.form-group span {
	color: red;
}

