<tt-app-header></tt-app-header>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar sidebar-nav-custom">
			<ul class="nav nav-sidebar">
				<li>
					<a class="sidebar-nav-text" href="#">Apple</a>
				</li>
				<li>
					<a class="sidebar-nav-text" href="#">Samsung</a>
				</li>
				<li>
					<a class="sidebar-nav-text" href="#">Google</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header">All Devices</h1>
			<div ng-repeat="(make, devices) in tracker.makes">			
				<h2 class="sub-header">
					{{ make }}
				</h2>
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th style="width: 100px;">Image:</th>
								<th style="width: 15%">Name:</th>
								<th style="width: 20%">SKU:</th>
								<th style="width: 25%">Checked out to:</th>
								<th style="width: 20%">Check Out:</th>
								<th>Check In:</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="device in devices">
								<td>
									<img class="img" ng-src="src/assets/images/{{device.image}}">
								</td>
								<td>{{device.name}}</td>
								<td>{{device.sku}}</td>
								<td>{{device.checkedOutBy.firstName}} {{device.checkedOutBy.lastName}}</td>
								<td><button class="btn btn-primary" ng-hide="device.checkedOutBy" ng-click="tracker.checkOutDevice(device)">Check Out</button></td>
								<td><button class="btn btn-primary" ng-show="device.checkedOutBy" ng-if="device.checkedOutBy._id === tracker.activeUser._id" ng-click="tracker.checkInDevice(device)">Check In</button></td>
							</tr>
						</tbody>
					</table>
						
				</div>
			</div>
		</div>
	</div>
</div>