<!-- This contains all tabs and their contents on the main index.html page -->

<!-- Map Data Panel Contents -->
<div class="panel" ng-show="panel.isSelected(3)">
	<h4>Map Data will go here eventually</h4>
	<p> map data </p>
</div>

<!-- Description Panel Contents -->
<div class="panel" ng-show="panel.isSelected(4)">
	<h4>Description</h4>
	<p>{{device.description | uppercase }}</p>
</div>

<!-- Review Panel Contents -->
<div class="panel list-group-item" ng-show="panel.isSelected(5)" ng-controller="ReviewController as reviewCtrl">
	<h4>Reviews</h4>
	
	<!-- Posted Reviews -->
	<blockquote ng-repeat="review in device.reviews">
		<b>{{review.stars}} Stars</b>
		</br>{{review.text}}
		<footer><cite>by: {{review.author}} on {{review.createdOn | date}}</cite></footer>
		<button ng-click="reviewCtrl.deleteReview(review, device)" type="submit" class="pull-right">Delete</button> 

	</blockquote>
	
	<h4>Live Preview</h4>

	<!-- Live Preview -->
	<form name="reviewCtrl.reviewForm" ng-submit="reviewCtrl.addReview(device)" novalidate>
		<blockquote>
			<b>Stars: {{reviewCtrl.newReview.stars}}</b>
			</br>{{reviewCtrl.newReview.text}}
			<footer><cite>by: {{reviewCtrl.newReview.author}}</cite></footer>
		</blockquote>
		
		<!-- Review Form -->
		<div class="form-group">
			<label for="reviewStars">rating:</label>
			<select class="form-control" ng-model="reviewCtrl.newReview.stars" id="reviewStars" required>
				<option value="" disabled selected>Rate this device!</option>
				<option value="1">1 star</option>
				<option value="2">2 stars</option>
				<option value="3">3 stars</option>
				<option value="4">4 stars</option>
				<option value="5">5 stars</option>
			</select>		
			<label for="reviewText">additonal notes:</label>
				<textarea class="form-control" rows="3" ng-model="reviewCtrl.newReview.text" id="reviewBody" placeholder="say what you want!" required></textarea>
			<label for="reviewEmail">by:</label>
			<input ng-model="reviewCtrl.newReview.author" type="email" class="form-control" id="reviewEmail" placeholder="email" required/>
			</br><input type="submit" class="form-control" value="Submit" ng-disabled="reviewCtrl.reviewForm.$invalid"/>
		</div>
		
	</form>
</div>